body {
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url("./img.jpg");
}

a {
  color: #cba8cc;
  text-decoration: none;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Gaegu", sans-serif;
  font-weight: bold;
}

.App-header {
  margin: 30px auto;
  color: #ffb5b5;
  font-size: 52px;
}

.App-footer {
  text-align: center;
  color: #ffcab0;
  margin: 30px 0;
}
